$beige: beige;

header {
  background-color: dimgrey;
  margin-bottom: 30px;

  h1 {
    text-align: center;
    color: white;
  }
}

#list_users {
  li {
    background-color: antiquewhite;
    margin-bottom: 10px;
  }

  li .row {
    margin: 15px;
  }

  a {
    margin-left: 20px;
    padding: 15px;
    border-radius: 3px;
  }
}

#profile_card {
  width: 40rem;
  background-color: $beige;
  padding: 25px;
  display: none;
}

footer {
  height: 150px;
  background-color: ghostwhite;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
}