/* Normally, I create several SCSS files, especially for the variables, effects, components of the
template (header, footer,..). Since it's a small project, I added only one file.
 */

#list_users li {
  background-color: antiquewhite;
  margin-bottom: 10px; }

#list_users li .row {
  margin: 15px; }

#list_users a {
  margin-left: 20px;
  padding: 15px;
  border-radius: 3px; }

#profile_card {
  width: 40rem;
  background-color: beige;
  padding: 25px; }
